:root {
    --backround-color: #212631;
    --container-background-color: #373F4E;
    --primary-text-color: #FFFFFF;
    --medium-text-color: #E0E4EB;
    --secondary-text-color: #929292;
    --box-shadow: 0px 1px 1px 0px rgb(36, 39, 45);
    --modal-backdrop-color: rgba(0, 0, 0, .5);
    --git-icon: url(../assets/github-logo-white.png);
}